<a href="#">
    <div class="card text-white border-white display-flex" id="featured-trip">
        <img class="card-img home-feature-img" src="https://images.unsplash.com/photo-1577364783241-ff14fd0f679c?ixlib=rb-1.2.1&auto=format&fit=crop&w=3024&q=80" alt="Card Image">
        <div class="card-img-overlay d-flex flex-column ml-2 mt-2">
            <h2 class="card-title">Puerto Rico</h2>
            <h3 class="card-text">Trip of a lifetime</h3>
            <h4 class="card-text mt-auto">December 14 - 18</h4>
        </div>
    </div>
</a>